# Ignore everything
*

# Except the specific folder (unignore folder2 and its contents)
!build/web/

# Ignore folder1 and folder2 to prevent them from being pushed
build/*
!build/web/
!build/web/**

# Ignore everything else in folder2 except its contents
build/web/*
!build/web/**

# Explicitly ignore folder1 and folder2 to prevent them from being pushed
build/